# ================================================================
# امنیت پوشه فایل‌های موقت
# ================================================================

# 1. جلوگیری از دسترسی موتورهای جستجو
Header set X-Robots-Tag "noindex, nofollow"

# 2. عدم نمایش فهرست
Options -Indexes

# 3. مجاز به دانلود فایل‌ها با مرورگر
<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>